# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.DiscordElegiaBot.iml
# Datasource local storage ignored files
/../../../../../../:\LearningProjects\DiscordElegiaBot\.idea\.idea.DiscordElegiaBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
